[submodule "LightFramework/libs/imgui"]
	path = LightFramework/libs/imgui
	url = https://github.com/dropTableUsers42/imgui.git
[submodule "Light/libs/spdlog"]
	path = shared/libs/spdlog
	url = https://github.com/dropTableUsers42/spdlog.git
[submodule "Testing/googletest"]
	path = Testing/googletest
	url = https://github.com/google/googletest.git
[submodule "tools/tracy/freetype"]
	path = tools/tracy/freetype
	url = https://github.com/freetype/freetype
[submodule "tools/tracy/tracy"]
	path = tools/tracy/tracy
	url = https://github.com/wolfpld/tracy
[submodule "tools/tracy/capstone"]
	path = tools/tracy/capstone
	url = https://github.com/dropTableUsers42/capstone
	branch = next
[submodule "LightFramework/libs/glfw"]
	path = LightFramework/libs/glfw
	url = https://github.com/glfw/glfw
[submodule "Editor/libs/ImGuizmo"]
	path = Editor/libs/ImGuizmo
	url = https://github.com/dropTableUsers42/ImGuizmo
[submodule "LightFramework/libs/cereal"]
	path = LightFramework/libs/cereal
	url = https://github.com/USCiLab/cereal
[submodule "LightFramework/libs/nativefiledialog-extended"]
	path = LightFramework/libs/nativefiledialog-extended
	url = https://github.com/dropTableUsers42/nativefiledialog-extended
