name: Linux Clang
on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  # We build RelProfile to test both Release and Profiling aspects of the build
  BUILD_TYPE: RelProfile

jobs:
  ubuntu_build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04, ubuntu-22.04 ]

        clang-version: [ 9, 10, 11 ]

        include:
          - os: ubuntu-22.04
            clang-version: 12
          - os: ubuntu-22.04
            clang-version: 13
          - os: ubuntu-22.04
            clang-version: 14

        exclude:
          # excludes clang-11 on Ubuntu 18.04 because it doesn't exist in the
          # standard repositories.
        - os: ubuntu-18.04
          clang-version: 11
        - os: ubuntu-22.04
          clang-version: 9
        - os: ubuntu-22.04
          clang-version: 10

    name: ${{ matrix.os }} (Clang ${{matrix.clang-version }})
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install -yq --no-install-recommends \
                                xorg-dev \
                                uuid-dev \
                                pkg-config \
                                libgtk-3-dev \
                                clang-${{ matrix.clang-version }}

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ matrix.os }}-clang-${{ matrix.clang-version }}
          max-size: 100M

      - name: Configure CMake
        run: |
          cmake -B${{ github.workspace }}/build \
                -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
                -DCMAKE_C_COMPILER_LAUNCHER=ccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
                -G"Unix Makefiles"
        env:
          CC: clang-${{ matrix.clang-version }}
          CXX: clang++-${{ matrix.clang-version }}

      - name: Build
        run: |
          cmake --build ${{ github.workspace }}/build \
                --config ${{ env.BUILD_TYPE }} \
                --target Editor Test \
                -- -j2
